
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #000;
    color: #fff;
}

.navigator {
    width: calc(100% - 8px);
    background-color: #000;
    position: fixed;
    z-index: 10;
    font-size: 14px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator__brand {
    font-weight: bold;
    font-size: 20px;
}

.navigator__elements {
    margin: 0 8px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.navigator__element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.navigator__link:hover {
    color: #9fc66d;
}

.content {
    height: 100%;
    padding: 0 8vw;
    display: flex;
    justify-content: center;
}

.milestones {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.milestones:before {
    content: "";
    display: inline-block;
    width: 1px;
    background: #9fc66d;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}
.milestones__element {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
}
.milestones__element:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #9fc66d;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 10px;
}

.title {
    font-size: 3rem;
    margin-bottom: 0;
}

.subtitle {
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 16px;
    color: #9fc66d;
}

.description {
    margin: 4px 0;
    color: #bebebe;
}

.funtion-color {
    color: #9fc66d;
}
